/* css reset */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --color-text: white;
    --bg-button:rgb(74 74 74);
    --bg-footer:rgb(34 34 34);
    --bg-color:black;
    --bg-mute:rgb(74 74 74 / 50%);
    --active:rgb(75 200 0);
    --alert: red;
    --bg-alert:rgb(74 74 74);

}

body{
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration-line: none;
    color: var(--color-text);
    
}

footer {
    background-color: var(--bg-footer);
    height: 7rem;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden
}

.container {
    max-width: 100%;
    margin: auto;
}

.row {
    display: flex;
}
.col-2 {
    width: calc(100% 12 / 2);
}

.col-3 {
    width: calc(100% 12 / 3);
}

.col-6 {
    width: calc(100% 12 / 6);
}

.col-8 {
    width: calc(100% 12 / 8);
}

.col-12 {
    width: 100%;
}

.gap-1 {
    gap: 1rem;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.left {
    text-align: start;

}

.right {
    text-align: end;
}

.top-function a {
    background-color: var(--bg-button);
    padding: 0.25rem;
    border-radius: 0.25rem;
    display: inline-block;
    gap: 1rem;
}

.top-function {
    height: 3rem;
    text-align: end;
    background-color: var(--bg-color);
    padding-top: 0.5rem;
}


.user {
    position: relative;
}

.overlay {
    position: absolute;
    bottom: 1rem;
    left: 0;
}

.overlay a{
    background-color:var(--bg-mute);
    padding: 0.5rem;
    border-radius: 0.25rem;
}

.webcam {
    height: calc(100vh - 10rem);
    background-color: var(--bg-color);
    overflow: auto;
}
.webcam .row {
    gap: 0.5rem;
    flex-wrap: wrap;

}

.webcam > .container {
    width: 90vw;
    margin: auto;
}


.bottom-function {
    color: var(--color-text);
    background-color: var(--bg-button);
    width: 100%;

}

.icon {
    padding: 1rem;
    font-size: 2.5rem;
    text-align: center;
    color: var(--color-text); 
}

.small {
    font-size: 1rem;
}

.selected {
    color: var(--active);
}

.quit {
    background-color: var(--bg-button);
    width: 100%;
    height: 100%;
    align-items: center;
}

.row.quit a {
    color: var(--alert);
}

.row.icon.gap-1:hover {
    background-color: var(--bg-alert);
    border-radius: 1rem;
}